.dep-info-model{
  margin-top:2%;
  margin-left:7.5%;
  width:85%;
}
.departmentManage{
  position: relative;
  .button-div{
    width:100%;
    margin-left:2%;
    /*text-align: right;*/
  }

  .department-content{
    display: flex;
    flex-wrap: wrap;
    .departcard{
      margin-top:1%;
      margin-left:2%;
      line-height:20px;
      color: #adaba9;
      background: #f9f9f9;
    }
  }

  .iconfont{
    position: relative;
    top:5px;
  }

  /*响应式*/
  @media (min-width: 720px) {
  }

  @media (min-width: 1080px) {
  }

  @media (min-width: 1366px) {
  }

  @media (min-width: 1680px) {
  }

  @media (min-width: 1920px) {
  }
}

