.course-info-model{
  margin-top:2%;
  margin-left:7.5%;
  width:85%;
}
.courseModule{
  position: relative;
  display: flex;
  .moduleContent{
    position: relative;
    height:100%;
    margin-left:3%;
    .button-div{
      margin-bottom:2%;
    }
  }
  /*响应式*/
  @media (min-width: 720px) {
  }

  @media (min-width: 1080px) {
  }

  @media (min-width: 1366px) {
  }

  @media (min-width: 1680px) {
  }

  @media (min-width: 1920px) {
  }

}
